<div class="container posts">
  <div class="card-header">
    <h3>Create a Blog Post</h3>
  </div>
  <div>
    <div class="input-group input-group-sm mb-3 blog-form">
        <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
        <input type="text" class="form-control" id="title" >
      </div>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Blog Description" id="description"></textarea>
      </div>
     </div>
    <button type="button"  class="btn btn-secondary" id="submitBtn">Submit</button>      
</div>

<script src="/postBlog.js"></script>